.picture-shipping {
    display: flex;
    flex-direction: row;
}

body {
    padding: 0 30px 10px 30px
}

#shipping-option {
    width: 380px;
    float: left;
    height: 100%;
}

#product-detail {
    width: 720px;
}

#slide-show {
    padding: 0px 20px 0px 12px;
}

#customer-also-bought {
    width: 1000px
}

h1 {
    padding: 0px 20px;
}